# ignore app cache folder
.cache/
node_modules/
**/node_modules/
server/node_modules/
resume_chat.bat
*.bat
build/
**/build/

# Database files
*.db
data/*.db
data/

# Environment files
.env
.env.*

# Office documents & reports
*.docx
*.pdf

# IDE and Editor files
.idea/
**/.idea/
.vscode/
*.pyc
__pycache__/
